/* navbar.css */

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  
  .nav-link {
    font-size: 18px;
    color: #555;
    transition: color 0.3s ease;
    text-decoration: none; 
    text-shadow: #555;
    text-transform: uppercase;
  }
  

  
  .navbar-toggler {
    border: none;
  }
  
  .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%2888, 88, 88, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  

  
  .navbar-light .navbar-toggler-icon {
    background-color: rgba(0, 0, 0, 0.1);
  }
  