/* .App{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  flex-direction: column;
}
.formstyle{
  padding: 20px;
  border: 20px;
  width: 35%;
  text-align: center;
}
.form-control{
  border-color: black;
} */
.App {
  text-align: center;
  margin-top: 50px;
}

.form-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #f8f9fa;
}

h4 {
  margin-bottom: 20px;
}
